# Build artifacts
build/
build-*/
*.obj
*.exe
*.lib
*.pdb
*.ilk
*.aim

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# VS / Windows noise
.vs/
*.user
*.log
desktop.ini

#external code
external/

